import init.qcom.rc
import init.htc.common.rc
import init.htc_pme.fp.rc
import init.htc.storage.rc
import init.htc.storage.exfat.rc
import init.htc.storage.mocana.rc

#++ Modem BSP
import init.hosd.cradio.rc
#-- Modem BSP

#++ OMADM
import init.htc.ota.rc
#-- OMADM

# HTC sensor_hub - BEGIN
service shub_dbg /system/bin/shub_dbg
    class main
    user system
    group system
# HTC sensor_hub - END

on fs
    # Mount slpi image
    mkdir /firmware/slpi 0771 system system
    wait /dev/block/bootdevice/by-name/slpi
    mount vfat /dev/block/bootdevice/by-name/slpi /firmware/slpi ro shortname=lower,uid=1000,gid=1000,dmask=227,fmask=337

on post-fs
    # for SSC | SLPI
    mkdir /persist/sensors 0775 sensors sensors

# +SSD_RIL: TMO trustonic daemon
service tsdaemon /system/bin/tsdaemon
    class main
    user radio
    group system
# -SSD_RIL: TMO trustonic daemon

#++ DMAgent
service dmagent /system/bin/dmagent
    class late_start
    socket dmagent stream 660 root inet
    user root
#-- DMAgent

# HTC Automotive - BEGIN
service cand /system/bin/cand
    class main
    user root
# HTC Automotive - END

# HTC Charger
service htcdcpd /system/bin/htcdcpd
    class main
    user root
    group root
# HTC Charger

# HTC network - BEGIN
service htcnetdump /system/bin/htcnetdump
    class main
    user root
    disabled

on property:persist.sys.htcnetdump=1
    start htcnetdump

on property:persist.sys.htcnetdump=0
    stop htcnetdump

# HTC network - END

# Security - Tamper Detection++
service tpd_daemon /system/bin/tpd_daemon
    class core
    user root
# Security - Tamper Detection--
